apiAirlux/.phpunit.cache
apiAirlux/node_modules
apiAirlux/public/build
apiAirlux/public/hot
apiAirlux/public/storage
apiAirlux/storage/*.key
apiAirlux/storage/pail
apiAirlux/vendor
apiAirlux/.env
apiAirlux/.env.backup
apiAirlux/.env.production
apiAirlux/.phpactor.json
apiAirlux/.phpunit.result.cache
apiAirlux/Homestead.json
apiAirlux/Homestead.yaml
apiAirlux/auth.json
apiAirlux/npm-debug.log
apiAirlux/yarn-error.log
apiAirlux/.fleet
apiAirlux/.idea
apiAirlux/.vscode
apiAirlux/.zed
